# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
cities_file = "../WeatherPy/output_data/cities.csv"
cities_file_df = pd.read_csv(cities_file)
cities_file_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Port Macquarie,-31.43,152.92,19.44,66,0,0.45,AU,1596346756
1,Pitkyaranta,61.57,31.48,16.21,66,78,0.75,RU,1596346756
2,George Town,5.41,100.34,31.00,74,20,2.10,MY,1596346697
3,Guanaja,16.40,-85.90,28.44,78,8,2.35,HN,1596346756
4,Arlit,18.74,7.39,30.51,48,41,1.63,NE,1596346756

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [12]:
gmaps.configure(api_key = g_key)
locations = cities_file_df[['Lat', 'Lng']]
humidity =  cities_file_df['Humidity']

In [18]:
fig = gmaps.figure(center=(46.0, -5.0), zoom_level=2)
heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating = False, max_intensity = 10, point_radius = 1)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.
* These are my conditions: Max temperature higher than 25 degrees C, wind speed less than 3 meter/sec and zero cloudiness.

In [25]:
cities_file_df[(cities_file_df['Max Temp'] > 25) & (cities_file_df['Wind Speed'] < 3) & (cities_file_df['Cloudiness'] == 0)]

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
67,Yangi Marg`ilon,40.43,71.72,30.00,25,0,2.10,UZ,1596346773
258,Cabo San Lucas,22.89,-109.91,30.56,60,0,0.45,MX,1596346639
281,Borogontsy,62.67,131.17,27.60,25,0,1.68,RU,1596346835
282,Ashquelon,31.67,34.57,26.11,58,0,1.34,IL,1596346836
345,Ardakān,32.31,54.02,32.00,24,0,2.10,IR,1596346853
353,Khāsh,28.22,61.22,34.51,23,0,1.41,IR,1596346855
368,Tabas,33.60,56.92,37.00,16,0,1.51,IR,1596346859
398,Kiryat Gat,31.61,34.76,26.11,58,0,1.34,IL,1596346868
541,São Filipe,14.90,-24.50,25.35,83,0,0.50,CV,1596346910

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [5]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

NameError: name 'hotel_df' is not defined

In [ ]:
# Add marker layer ontop of heat map


# Display figure